
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your Request is pending</strong> Please wait until review.</p>
    <hr>
    <p>
         <a href="~/Home">Back</a>
    </p>

</div>