@model Elite.AppDbContext.ViewModels.ServiceCatVM

@{

    ViewData["Title"] = "Service Category";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = "Create Service Category";
}

<section class="section">
    <div class="card">
        <form method="post" asp-action="Upsert" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (Model.ServiceCat.Id != 0)
            {
                <input type="hidden" asp-for="ServiceCat.Id" />
                title = "Edit Service Category";
            }

            <div class="card-header">
                <h4 class="card-title">@title</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <div class="form-group row align-items-center">
                                <div class="col-lg-4 col-3">
                                    <label class="col-form-label" asp-for="ServiceCat.Name"></label>
                                </div>
                                <div class="col-lg-8 col-9">
                                    <input asp-for="ServiceCat.Name" class="form-control">
                                    <span asp-validation-for="ServiceCat.Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <div class="col-lg-4 col-3">
                                    <label class="col-form-label" asp-for="ServiceCat.CategoryId"></label>
                                </div>
                                <div class="col-lg-8 col-9">
                                    <select name="ServiceCat" class="form-control" asp-items="Model.CategoryList">
                                        <option style="text-align-last:center" value="">-- Please select a Category --</option>
                                    </select>
                                    <span asp-validation-for="ServiceCat.CategoryId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <div class="col-lg-4 col-3">
                                    <label class="col-form-label" asp-for="ServiceCat.ImageUrl"></label>
                                </div>
                                <div class="col-lg-8 col-9">
                                    <input type="file" name="files" id="uploadBox" asp-for="ServiceCat.ImageUrl" multiple class="form-control">
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <div class="col-lg-4 col-3">
                                </div>

                                <div class="col-lg-8 col-9">
                                    @if (Model.ServiceCat.Id != 0)
                                    {
                                        //Edit button and back to list

                                        <div class="row">
                                            <div class="col">
                                                <button type="submit" class="col-lg-12 btn btn-warning text-dark" asp-route-id="Model.Id">Update</button>
                                            </div>

                                            <div class="col">
                                                <a asp-action="Index" class="col-lg-12 btn btn-primary">Back to List</a>
                                            </div>
                                        </div> }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col">
                                                <button type="submit" onclick="return validateInput()" class="col-lg-12 btn btn-success">Create</button>
                                            </div>

                                            <div class="col">
                                                <a asp-action="Index" class="col-lg-12 btn btn-primary">Back to List</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery col-8 col-sm-12 col-lg-4 mt-2 mt-md-0 mb-md-0 mb-2" data-bs-toggle="modal" data-bs-target="#galleryModal">
                        <a href="#">

                            @if (Model.ServiceCat.Id != 0)
                            {

                                <img class="w-100 active"
                                     id="image"
                                     src="@Model.ServiceCat.ImageUrl"
                                     data-bs-target="#Gallerycarousel" data-bs-slide-to="0">

                            }
                            else
                            {
                                <img class="w-100 active"
                                     id="image"
                                     src="/images/serviceCat/no_preview.png"
                                     data-bs-target="#Gallerycarousel" data-bs-slide-to="0">

                            }
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div id="Gallerycarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100"
                                 id="image1"
                                 src="@Model.ServiceCat.ImageUrl" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        function validateInput() {
            if (document.getElementById("uploadBox").value === "") {
                Swal.fire(
                    'Error',
                    'Please Select an Image',
                    'error'
                );
                return false;
            }
            return true;
        }
    </script>

    <script>

        var fileToRead = document.getElementById("uploadBox");

        fileToRead.addEventListener("change", function (event) {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                    $('#image1').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $(this).val('');

                $('#image').attr('src', '\\images\\serviceCat\\no_preview.png');
                $('#image1').attr('src', '\\images\\serviceCat\\no_preview.png');

                Swal.fire(
                    'Error',
                    'Pleaae Input a valid image',
                    'error'
                );

            }

        });
    </script>
}