<div class="row">
    <div class="col">
        <button type="submit" class="col-lg-12 btn btn-success">Create</button>
    </div>

    <div class="col">
        <a asp-action="Index" class="col-lg-12 btn btn-primary">Back to List</a>
    </div>
</div>