@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="index.html"><img src="~/assets/images/logo/logo.png" alt="Logo" srcset="" /></a>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>

            <li class="sidebar-item active">
                <a href="index.html" class="sidebar-link">
                    <i class="bi bi-grid-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!--Category-->
            <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                    <i class="bi bi-stack"></i>
                    <span>Category</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a asp-controller="Category" asp-action="Index">Display All</a>
                    </li>
                    <li class="submenu-item">
                        <a asp-controller="Category" asp-action="Upsert">Add Category</a>
                    </li>
                </ul>
            </li>

            <!--Food Category-->
            <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                    <i class="bi bi-stack"></i>
                    <span>Food Category</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a asp-controller="Food Category" asp-action="Index">Display All</a>
                    </li>
                    <li class="submenu-item">
                        <a asp-controller="Food Category" asp-action="Add">Add Food Category</a>
                    </li>
                </ul>
            </li>

            <!--Feature-->
            <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                    <i class="bi bi-stack"></i>
                    <span>Feature</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a asp-controller="Feature" asp-action="Index">Display All</a>
                    </li>
                    <li class="submenu-item">
                        <a asp-controller="Feature" asp-action="Add">Add Feature</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button class="sidebar-toggler btn x">
        <i data-feather="x"></i>
    </button>
</div>