<br />
<br />

<div>
    <input id="inputForAmmarMap" class="apply" style=" height:50px;width:200px; " type="text" placeholder="Enter Search Place">
    <div id="divAmmarMap" style=" height:400px;width:900px;position:absolute;overflow:hidden;"></div>
</div>

<hr />
<hr />

<script>
    function ammarMap() {

        var map = new google.maps.Map(document.getElementById('divAmmarMap'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        });

        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(33.55061536354439, 36.30838745316579),
            new google.maps.LatLng(33.5567979074849, 36.322470336389024)
        );
        map.fitBounds(defaultBounds);

        var input = (document.getElementById('inputForAmmarMap'));
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);
        var searchBox = new google.maps.places.SearchBox((input));

        google.maps.event.addListener(searchBox, 'places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                map.fitBounds(defaultBounds);
            }
            else {

                var markers = [];
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0, place; place = places[i]; i++) {
                    var image = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    var marker = new google.maps.Marker({
                        map: map,
                        icon: image,
                        title: place.name,
                        position: place.geometry.location
                    });

                    markers.push(marker);

                    bounds.extend(place.geometry.location);
                }

                map.fitBounds(bounds);
            }
        });

        google.maps.event.addListener(map, 'bounds_changed', function () {
            var bounds = map.getBounds();
            searchBox.setBounds(bounds);
        });

    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNujtx1JxpWTI1KoOk_1WYXDzq8pXr_r0&language=en&libraries=places&&callback=ammarMap"
        async></script>

<script>
    /*
    var txtbox = document.getElementById('inputForAmmarMap');

    function enterfun() {

        var ev = new KeyboardEvent('keydown', {
            altKey: false,
            bubbles: true,
            cancelBubble: false,
            cancelable: true,
            charCode: 0,
            code: "Enter",
            composed: true,
            ctrlKey: false,
            currentTarget: null,
            defaultPrevented: true,
            detail: 0,
            eventPhase: 0,
            isComposing: false,
            isTrusted: true,
            key: "Enter",
            keyCode: 13,
            location: 0,
            metaKey: false,
            repeat: false,
            returnValue: false,
            shiftKey: false,
            type: "keydown",
            which: 13
        });

        txtbox.dispatchEvent(ev);
    }
    */
</script>